@(competidor: Competidor, competencias: List[Competencia])

@main{

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th><h3>Nombre</h3></th>
        <th><h3>Fecha creación</h3></th>
        <th><h3># Inscripciones</h3></th>
        <th><h3>Acciones</h3></th>
      </tr>
    </thead>

    @for(competencia <- competencias){

      <tr>
        <th scope=row><h4>@competencia.nombre</h4></th>
        <td><h4>@competencia.created.getDate / @competencia.created.getMonth / @(competencia.created.getYear + 1900)</h4></td>
        <td><h4>@competencia.inscripciones.size()</h4></td>
        <td><h4><a href=@routes.CompetidorController.verCompetencia(competidor.id, competencia.id)>Ver más</a> |
          <a href=@routes.CompetidorController.crearInscripcion(competidor.id, competencia.id)>Inscribirse</a></h4></td>
      </tr>

    }
  </table>

}